:root {
    --main-font-size: clamp(12px, 1.5vh, 24px);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: var(--main-font-size, 16px);
}

body {
    display: grid;
    height: 100vh;
    grid-template: max-content 1fr / max-content 1fr;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #42A7ED;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sidebar-container {
    width: max-content;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    min-width: max-content;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: #FFF;
    position: relative;
    box-shadow: 0px 10px 20px -10px #999999;
    display: grid;
    grid-template: max-content 1fr / 2fr 1fr;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    gap: 2rem;
}

.header > * {
    display: flex;
    align-items: center;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
    gap: 1rem;
}

.search input {
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #DBDBDB;
    padding: 0 1rem;
}

.profile {
    grid-area: 1 / 2 / 2 / -1;
    gap: 2rem;
    justify-content: flex-end;
}

.profile-name {
    font-weight: 800;
}

.user-greeting {
    grid-area: 2 / 1 / -1 / 2;
    display: grid;
    gap: 0 1rem;
    grid-template: 1fr 2fr / max-content 2fr;
}

.user-greeting .profile-image {
    grid-area: 1 / 1 / 3 / 2;
}

.greeting {
    grid-area: 1 / 2 / 2 / -1;
    font-size: 1rem;
    font-weight: 800;
}

.user-name {
    grid-area: 2 / 2 / -1 / -1;
    font-size: 2rem;
    font-weight: 800;
}

.btns {
    grid-area: 2 / 2 / -1 / -1;
    justify-content: flex-end;
    gap: 2rem;
}

.btns button {
    border: none;
    border-radius: 50px;
    padding: 1.2rem 1.5rem;
    color:#FFF;
    background-color: #42A7ED;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 0;
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: #DBDBDB;
    display: grid;
    font-size: 1.5rem;
    grid-template: max-content 1fr / 3fr 1fr;
    padding: 1.5rem;
    gap: 0 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.5rem;
    width: max-content;
    display: flex;
    gap: 1rem;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
}

svg,
h1 {
    display: inline;
    color: white;
}

svg {
    fill: white;
    height: 1em;
}

.sidebar-header > svg {
    height: 3rem;
    width: min-content;
}

.header svg {
    fill: black;
    height: 2rem;
}

.profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #4F4F4F;
    background-image: url(images/toucan.jpg);
    background-size: cover;
}

.profile-image.user-1 {
    background-image: url(images/flowers.jpg);
}

.profile-image.user-3 {
    background-image: url(images/droplets.jpg);
}

.profile-image.user-4 {
    background-image: url(images/earth.jpg)
}

.profile-image.small {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
}

.side-card-container {
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-template-rows: 1fr 3rem 2rem 1fr;
}

.side-card-container h3 {
    grid-row: 3 / 4;
    align-self: center;
    margin-bottom: 10px;
}

.side-card {
    display: grid;
    padding: 1rem;
}

.side-card p {
    font-size: 0.8rem;
    color: #4F4F4F;
}

.announcements {
    grid-template-rows: repeat(3, 1fr);
}

.announcements > :nth-child(2) {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.trending {
    grid-row-start: 4;
    grid-template: repeat(4, 1fr) / max-content 1fr;
    align-items: center;
    column-gap: 1rem;
}

.trending > :nth-child(even) > div {
    font-weight: 800;
}

.side-card,
.main-card {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #999999;
}

.main-card {
    display: grid;
    grid-template: 1fr 3fr 1fr / repeat(8, 1fr);
    padding: 1rem;
    border-left: 10px solid #EDAE1A;
}

.main-card-container {
    grid-area: 2 / 1 / -1 / 2;
    display: grid;
    gap: 2rem;
    grid-template: repeat(3, 1fr) / repeat(auto-fit, minmax(400px, 1fr));
}

.main-card h4 {
    grid-area: 1 / 1 / 2 / -1;
}

.main-card p {
    grid-area: 2 / 1 / 3 / -1;
    font-size: 1rem;
    color: #4F4F4F;
}

.main-card img {
    height: 2rem;
    justify-self: center;
    align-self: center ;
    grid-row: 3 / 4;
}

.star {
    grid-column: -3 / -4;
}

.watch {
    grid-column: -2 / -3;
}

.share {
    grid-column: -1 / -2;
}