:root {
    --main-font-size: clamp(12px, 1.5vh, 24px);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: var(--main-font-size, 16px);
}

body {
    display: grid;
    height: 100vh;
    grid-template: max-content 1fr / max-content 1fr;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #42A7ED;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.sidebar-container {
    width: max-content;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    min-width: max-content;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    background-color: #FFF;
    position: relative;
    box-shadow: 0px 5px 20px -10px #4F4F4F;
    display: grid;
    grid-template: max-content 1fr / 2fr 1fr;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    gap: 2rem;
}

.header > * {
    display: flex;
    align-items: center;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
    gap: 1rem;
}

.search input {
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #DBDBDB;
    padding: 0 1rem;
}

.profile {
    grid-area: 1 / 2 / 2 / -1;
    gap: 2rem;
    justify-content: flex-end;
}

.profile-name {
    font-weight: 800;
}

.user-greeting {
    grid-area: 2 / 1 / -1 / 2;
    display: grid;
    gap: 0 1rem;
    grid-template: 1fr 2fr / max-content 2fr;
}

.user-greeting .profile-image {
    grid-area: 1 / 1 / 3 / 2;
}

.greeting {
    grid-area: 1 / 2 / 2 / -1;
    font-size: 1rem;
    font-weight: 800;
}

.user-name {
    grid-area: 2 / 2 / -1 / -1;
    font-size: 2rem;
    font-weight: 800;
}

.btns {
    grid-area: 2 / 2 / -1 / -1;
    justify-content: flex-end;
    gap: 2rem;
}

.btns button {
    border: none;
    border-radius: 50px;
    padding: 1.2rem 1.5rem;
    color:#FFF;
    background-color: #42A7ED;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 0;
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
    padding: 1rem;
    background-color: #DBDBDB;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.5rem;
    width: max-content;
    display: flex;
    gap: 1rem;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
}

svg,
h1 {
    display: inline;
    color: white;
}

svg {
    fill: white;
    height: 1em;
}

.sidebar-header > svg {
    height: 3rem;
    width: min-content;
}

.header svg {
    fill: black;
}

.profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #4F4F4F;
    background-image: url(images/toucan.jpg);
    background-size: cover;
}

.profile-image.small {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
}